// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
/* Color Theme Swatches in RGBA */
$primary: rgba(25, 10, 40, 1);
$light: rgba(93, 137, 181, 1);
$dark: rgba(101, 108, 142, 1);
$background: rgba(238, 233, 234, 1);
$foreground: rgba(19, 20, 24, 1);
